<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WebDemo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<!-- 格式化标签 -->
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
			<taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<!-- 核心标签库 -->
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
			<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<!-- SQL标签 -->
			<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
			<taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<!-- XML 标签 -->
			<taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
			<taglib-location>/WEB-INF/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
			<taglib-location>/WEB-INF/x-rt.tld</taglib-location>
		</taglib>
	</jsp-config>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<listener>
		<!-- 静态配置文件，整个项目的入口 -->
		<listener-class>com.sc.utils.ListenerLoadConfig</listener-class>
	</listener>

	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.sc.filter.LogFilter</filter-class>
		<init-param>
			<param-name>Site</param-name>
			<param-value>菜鸟教程</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<!-- 别名 最终客户端访问的接口的名称后缀 -->
		<servlet-name>Test</servlet-name>
		<!-- 接口的具体类名，路径必须正确 -->
		<servlet-class>com.sc.servlets.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayHeader</servlet-name>
		<servlet-class>com.sc.servlets.DisplayHeader</servlet-class>
	</servlet>
	<servlet>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.sc.servlets.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<!--别名统一 -->
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayHeader</servlet-name>
		<url-pattern>/displayheader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/uploadservlet</url-pattern>
	</servlet-mapping>
</web-app>